body {
    background-color: var(--color-black);
}

#news-carousel {
    margin-top: 56px;
    min-height: 65vh;
    margin-bottom: 5vh;
}

.carousel-image{
    width: 50vw;
    height: auto;
}

.carousel-indicators {
    bottom: -10px;
    color: black;
}

.carousel-indicators li {
    background-color: black;
    padding: 3px;
    margin-left: 10px;
    margin-right: 10px;
}

.carousel-inner {
    margin-bottom: 20px;
}

.carousel-news-item {
    background-color: #f5f5f5;
    padding: 30px;
    padding-bottom: 40px;
}

#news-grid {
    margin-bottom: 10vh;
}

#news-grid .news-header {
    display: flex;
    justify-content: center;
}

#news-grid .header {
    color: var(--color-red);
    font-family: var(--font-head);
    font-size: var(--font-head-size);
}

#news-grid .left {
    padding-left: 0px;
    padding-right: 0px;
}

#news-grid .card {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 20rem;
}

#news-grid .card-title {
    font-family: var(--font-subhead);
    font-size: 32px;
    font-weight: 700;
}

#news-grid .card-text {
    font-family: var(--font-paragraph);
    font-size: 16px;
}

#news-grid .btn-primary {
    background-color: var(--color-red);
    border-color: var(--color-red);
}

#right .card{
    width: 10rem;
}

#right .card-title{
    font-size: 24px;
}
#right .card-text, #right .card-subtitle{
    font-size: 16px;
}

@media (min-width: 0px) and (max-width: 767.98px) {
    .carousel-image{
        width: 50vw;
        height: auto;
    }

    #image-wrapper {
        display: flex;
        justify-content: center;
    }

    #news-grid .card {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 20rem;
    }

    #news-grid .left {
        width: 100vw;
    }

    #news-grid .right {
        display: none;
    }
}
