body{
    background-color: black;
}

.center{
    display: flex;
    justify-content: center;
}

.header{
    margin-bottom: 20px;
}

.judul{
    color: var(--color-red);
    justify-content: center;
    width: fit-content;
    font-family: var(--font-head);
    font-size: var(--font-head-size);
    margin: auto;
}

.card{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 20rem;
}

.card-title{
    color: var(--color-grey);
    justify-content: center;
    width: fit-content;
    font-family: var(--font-head);
    font-size: 40px;
    margin: auto;

}


