body {
    background-color: var(--color-black);
}

#sambat-kuy {
    height: 100vw;
}

.container {
    margin-top: 64px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.isi-form {
    width: 80vw;
    height: 100vw;
}

