body {
    background-color: var(--color-black);
    color: var(--color-white);
    overflow-x: hidden;
}

section {
    min-height: 50vh;
}

.header {
    font-family: "Bebas Neue", cursive;
    font-size: var(--font-head-size);
}

.paragraph {
    font-family: var(--font-paragraph);
    font-size: var(--font-paragraph-size);
    text-align: justify;
}

#cardCarouselMini{
    display: none;
}

@media (min-width: 0px) and (max-width: 767.98px) {
    #cardCarousel{
        display: none;
    }

    #cardCarouselMini{
        display: block;
    }

    #about-us-left {
        display: flex;
        justify-content: center;
    }

    #about-us-left {
        margin-top: 0px!important;
    }
    
    .paragraph{
        font-size: var(--font-paragraph-mini-size);
    }
    
    .header{
        font-size: var(--font-header-mini-size);
    }
}

/* Jumbotron */
#jumbotron {
    margin-top: 8vh;
    min-height: 92vh;
    height: 100%;
    background-image: url("../image/arkanan-07.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* About Us */
#about_us .container {
    margin-top: 15vh;
    margin-bottom: 20vh;
}

#about-us-image {
    height: auto;
    width: 40vw;
}

/* What New */
#what_new {
    margin-top: 10vh;
}

#what_new #head {
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    justify-content: center;
}

#what_new #button {
    margin-top: 5vh;
    margin-bottom: 20vh;
    display: flex;
    justify-content: center;
}

#what_new .isi-button {
    font-size: 32px;
}

/* Upcoming Event */
#upcoming_event {
    margin-top: 10vh;
    margin-bottom: 25vh;
}

#upcoming_event #head {
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    justify-content: center;
}
/* Bidang Kerja */
#bidang_kerja {
    margin-top: 10vh;
    margin-bottom: 10vh;
}

#bidang_kerja #head {
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    justify-content: center;
}
